<nav id="navbar">
  <div class="nav-container">
    <!-- LOGO -->
    <div class="nav-logo">
      <img src="/src/assets/images/logo/FSTN.svg" alt="Logo FSTN" />
    </div>

    <!-- MENU -->
    <ul class="nav-links">
      <li><a href="/src/pages/home.html">Home</a></li>
      <li><a href="/src/pages/about.html">About Us</a></li>
      <li><a href="/src/pages/structure.html">Organization</a></li>
      <li><a href="/src/pages/members.html">Members</a></li>
      <li><a href="/src/pages/works.html">Works</a></li>
      <li><a href="/src/pages/achievements.html">Achievements</a></li>
      <li><a href="/src/pages/gallery.html">Gallery</a></li>
      <li><a href="/src/pages/credits.html">Credits</a></li>
    </ul>

    <!-- MOBILE TOGGLE -->
    <div class="nav-toggle" id="mobile-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
</nav>
